@use 'base/variables' as v;
@use 'base/mixins' as m;

.crear {
    .contenedor-iconos {
        background-color: v.$blanco;
        margin: 0 0 0 75%;

        .icono-light {
            opacity: 1;
        }
    
        .icono-dark {
            opacity: 0.5;
        }
        
        svg {
            width: 3rem;
            cursor: pointer;
            color: v.$morado;
        }
    
        @include m.tablet {
            width: 40%;
            gap: 1rem;
    
            svg {
                width: 3.5rem;
            }
        }
    } 
}

.crear {
    margin-top: 5rem;

    .uptask {
        @include m.textoDegradado (v.$morado);
    }

    input[type="submit"] {
        @include m.boton(v.$morado, v.$blanco);
    }

    .acciones {
        a {
            color: v.$morado;
        }
    }
}